{% extends 'base_main.html' %}
{% block content %}

    <center>
        <h3>没有用户？<a href="register">点我注册</a></h3>
        <br>
    </center>
    <form action="" method="post">
        <div class="container">
            <label>用户名 : </label>
            <input type="text" placeholder="请输入用户名" name="username" required>
            <label>密码 : </label>
            <input type="password" placeholder="请输入密码" name="password" required>
            <button type="submit">登录</button>
        </div>
    </form>

{% endblock %}