<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>logins</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                 <h1><strong><span style="color:blue">欢迎来到文章发表中心</span></strong></h1>
                 <h3>请先登录</h3>
                 <form action="/homepage" method="post">
                    笔名:<input type="text" name="username" value="">
                     <br>
                    密码:<input type="password" name="password">
                     <br>
                     <button>提交</button>
                 </form>
                 <br>
                 <a href="/join">注册</a>
            </div>
        </div>
    </div>

  </body>
</html>
